<footer class="page-footer font-small bg-dark pt-4">

    <div class="container">

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white">Siga-nos nas redes sociais</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">

                <ul class="social-network">
                    <li>
                        <a href="https://github.com/MariaLuizaDMoura" target="_blank" class="icoGithub">
                            <i class="fa fa-github-square px-3" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.instagram.com/olajovem/" target="_blank" class="icoInstagram">
                            <i class="fa fa-instagram px-3" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.linkedin.com/in/maria-luiza-moura-638906116/" target="_blank"
                            class="icoLinkedin px-3">
                            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </div>

    <div class="footer-copyright bg-dark text-center py-3">
        <span class="text-light"> © 2020 Copyright: </span>
        <a class="text-light" target="_blank" href="https://pin.it/1QRckQ6">Maria Luiza Moura</a>
    </div>

</footer>